@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";


@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes grow-shrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
  }
}
